<a href="https://colab.research.google.com/github/0AbhishekChaturvedi/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###.Function Introduction
> Function is a block of code which only runs when it is called. it is used for code reusability<br>
Function has a name for identification.


> Functions are of two types
* Built in-> print,input,etc
* user defined: you as a programmer can define ur own functions

##### Syntax
def fun_name(variable as input):<br>
  """ here you write docstring which is optional.. after docstring you write your code and add return keyword in that code to make your function return soemthing"""<br>
    code....<br>
    return

In [ ]:
# Let's create first function (with docstring)
def is_even(num):
  """
  This function returns if given number is odd or even
  input - any valid integer
  output-odd/even
  """
  if type(num)==int:
    if num %2 ==0:
      return "even"
    else :
      return 'odd'
  else:
    return "this is not integer value"

In [ ]:
# we have defined the function.. but let's call the function
for i in range(1,11):
  x=is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
is_even("gee")

'this is not integer value'

In [ ]:
# This will give the docstring of the function
is_even.__doc__

'\n  This function returns if given number is odd or even\n  input - any valid integer\n  output-odd/even\n  '

### Parameters Vs Arguments
while defining functions, inputs as variable are called the parameters<br> and while calling functions, inputs are called the argunments

### Types of Arguments
there are various way of passing argunemt
- Default Argument
- Positional Argument
- Keyword Argument

In [ ]:
# Default Argunment: Here you set default value to your parameters
# if you dont pass any values while calling the function, it wont give you
# error .. instead it will assume the default value as argunment
def power(a,b):
  return a**b

In [ ]:
power(2)

TypeError: ignored

In [ ]:
# here i have set the default values of a and b are 2, and 3
def power(a=2,b=3):
  return a**b

In [ ]:
power(3,5)

243

In [ ]:
# Here we have passed the value of a only but it has assumed the value of b , the default value of b
# that's why output is 64
power(4)

64

In [ ]:
power()

8

In [ ]:
# positional argunment
power(2,5)

32

Why did we get 2<sup>5</sup> = 32 as output in above cell instead of 5<sup>2</sup> = 25.. It seems to  have something to do with order/position .. right?<br>
yes when you pass the argunments to function, it follow the same order the way parameter are made...
And this default behavior is called the ### positional argunment

In [ ]:
"""keyword argunments: while passing the argunment, you can pass them
by calling their name(parameters' name).. here  the function doesn't follow positional 
 argunment"""
power(b=4,a=3)

81

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
# args
# allow us to pass a variable number of non-keyword argunments to a functiom
def multiply(a,b):
  return a*b

In [ ]:
multiply(2,3)

6

let's suppose you want to pass multiple number of argunment in this multiply function.. what will you do..? 
you can't call the function the way it has been called in just above cell, because while defining the function, you have given only two parameters...
but there is a way.. you can use
## `*args` in parameter ... <br>
here you can pass n numbers of keywords argunment  as parameters.. 
`*args` is just convention.. you can use anything instead..
for example *SRK, *India, *Love etc

In [ ]:
# This will give error because it has been designed for only two argunments
multiply(2,3,5)

TypeError: ignored

In [ ]:
# whenever python eterpreter see "*"" in parameter, it save list of 
# the argunments in a tuple
def multiply(*args):
  product=1
  for i in args:
    product=product*i
  print(args)
  print(type(args))
  return product

In [ ]:
# you can see the type of args
multiply(4,5,6)

(4, 5, 6)
<class 'tuple'>

120

In [ ]:
def add(*Love):
  Sum=0
  for x in Love:
    Sum=Sum+x
  print(Love)
  print(type(Love))
  return Sum

In [ ]:
add(5,67,45)

(5, 67, 45)
<class 'tuple'>

117

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary
def  display(**love):

  for (key,value) in love.items():
    print(love)
    print(type(love))
    return (key,'->',value)

In [ ]:
display(India='Delhi',Germany='Berlin',Spain='Madrid',Italy='Rome')

{'India': 'Delhi', 'Germany': 'Berlin', 'Spain': 'Madrid', 'Italy': 'Rome'}
<class 'dict'>

('India', '->', 'Delhi')

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice

In [ ]:

def add1(a,*love):
  print(a,sum(love))
  for x in love:
    print(x)
  print(type(love))
  print(love)

In [ ]:
# here first argunment will be stored in a, and rest 3 collectively will form a tuple
add1(6,74,34,3)

6 111
74
34
3
<class 'tuple'>
(74, 34, 3)

In [1]:
# write a program to print table of a given number
def table(a):
 b=0
 while b<10:
  b+=1
  print(b*a)

In [2]:
table(9)

9
18
27
36
45
54
63
72
81
90